/* // MOdal from bottom */
.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
  }

  .modal-dialog {
    max-width: 100%!important;
  }
  .modal-dialog.modal-full{
    width: 100%!important;
    max-width: 100%!important;
    bottom: 0!important;
    position: absolute;
    margin: 0 auto;
    height: auto;
    max-height: 100vh;
    
  }
  .modal-dialog .modal-content {
    height: auto;
    /* overflow-y: scroll; */
  }
  

  /* Sidebar nav-link */
  .sidebar-wrapper .nav li.nav-item a.nav-link{
    padding: 5px 15px!important;
  }

  /* Table Custom */
  .table-custom{
    border: 1px solid #dee2e6!important;
    
  }
  
  .table-custom thead tr th,
  .table-custom tbody tr td {
    text-align: center;
    padding: 5px!important;
    font-size: 8pt!important;
  }
  .cols-helper{
    height: 5px!important;
    background: #fff9f9;
  }
  .cols-helper th {
    font-size: 6px!important;
    
    color: red!important;
  }

  @keyframes animatebottom {
    from {
      bottom: -300px;
      opacity: 0;
    }
  
    to {
      bottom: 0;
      opacity: 1;
    }
  }